html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
  background-color: black; /* Set a background color to avoid white areas */
}

* {
  box-sizing: border-box;
}
